include columns

mixin row(list, colums, item)
  tr(id=item.id, foo=item.roleValue)
    if !list.get('nodelete') && (user && user.isSuperAdmin) && ( !user || (user && item.id !== user.id ) )
      td.control: a(href='/keystone/' + list.path + '?delete=' + item.id + csrf_query).control-delete
    else if !list.get('nodelete')
      td.control
    if sortable && !xFilters
      td.control: a(href=js).control-sort
    each col, i in columns
      if i === 0
        td(class='level level-' + item.level)
          +column(list, col, item)
      else
        td
          +column(list, col, item)
